/*link to google fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Dela+Gothic+One&family=League+Gothic&display=swap');
/* link to CDN fonts which had the star wars themed font*/
@import url('https://fonts.cdnfonts.com/css/star-wars');
/* general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'star wars', sans-serif;
    text-align: center;
    background-image: url("../images/millenium-falcon-image.webp");
    background-position: center;
    padding: 5px;
}

/* styles for heading texts */
h1 {
    color: #fff;
    font-size: 500%;
    margin-top: 80px;
    padding-top: 20px;
    letter-spacing: 5px;
}

h2 {
    margin-top: 5px;
    padding: 5px;
    font-size: 90%;
}

/*style for quix timer*/

#timer {
    margin-left: 20px
}

/* style for paragraph texts */

p {
    font-size: 1.4rem;
    padding-top: 15px;
    color: inherit;
}

/*style for game container card*/
.game-container {
    position: relative;
    width: 800px;
    max-width: 80%;
    margin: 200px 5px;
    background-color: #0e202b;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

/*style for the answer buttons*/
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    color: #abdfff;
    text-shadow: 0px 5px 20px #abdfff;
    font-weight: 600;
    background: #0e202b;
    display: inline-block;
    padding: 10px;
    width: 80%;
    min-width: 180px;
    margin: 20px auto;
    font-size: 1.2rem;
    border-style: solid;
    border: none;
    border-radius: 20px;
}

/*to ensure right function is displayed when running*/
.hide {
    display: none;
}

.menu-btn {
    color: #abdfff;
    text-shadow: 0px 5px 20px #abdfff;
    font-weight: 600;
    background: #0e202b;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #0e202b 50%, white 50%);
    transition: background-position 1s;
    display: inline-block;
    padding: 10px;
    width: 80%;
    min-width: 180px;
    margin: 20px auto;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    /*box-shadow: 0px 0px 15px 5px #0e202b;*/
}

.menu-btn:hover {
    box-shadow: 0px 0px 15px 10px #6fbafc;

    color: #0e202b;
    background-position: -100% 0;


}

/*style for the close button within the rules section */

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0 10px;
    background: #0e202b;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #0e202b 50%, white 50%);
    transition: background-position 1s;
    font-size: 2rem;
    color: #abdfff;
    border: none;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.close-btn:hover {
    box-shadow: 0px 0px 15px 10px #f50e0b;

    color: #0e202b;
    background-position: -100% 0;
}

/*style for the rules page*/

#rules {
    text-align: center;
    font-size: 150%;
    margin: 0 20px;
    padding: 10px;
    color: #abdfff;
}

li {
    text-align: left;
    margin: 20px 20px;
    padding: 10px;
}


/* adding style to show user the correct and wrong answers */

.correct-answer {
    box-shadow: 0px 0px 15px 5px #76ffae;

}

.wrong-answer {
    box-shadow: 0px 0px 15px 5px #f50e0b;
}

.no-pointer {
    pointer-events: none;
}

footer {
    margin-top: auto;
    color: white;
}

.img {
    width: 150px;
    height: 150px;
    position: relative;
}

.img-hide {
    display: none
}