/*link to google fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Dela+Gothic+One&family=League+Gothic&display=swap');

/* general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Leauge-Gothic, sans-serif;
    text-align: center;
    background-image: url("../images/millenium-falcon-image.webp");
    background-position: center;
    padding: 5px;
}