/*link to google fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Dela+Gothic+One&family=League+Gothic&display=swap');
/* link to CDN fonts which had the star wars themed font*/
@import url('https://fonts.cdnfonts.com/css/star-wars');
/* general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: star wars, sans-serif;
    text-align: center;
    background-image: url("../images/millenium-falcon-image.webp");
    background-position: center;
    padding: 5px;
}

/* styles for heading texts */
h1 {
    color: #fff;
    font-size: 500%;
    padding-top: 15px;
    letter-spacing: 5px;
}

h2 {
    margin-top: 5px;
    padding: 5px;
    font-size: 90%;
}

/*style for game container card*/
.game-container {
    width: 800px;
    max-width: 80%;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

/*style for the answer buttons*/
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

/*to ensure right function is displayed when running*/
.hide {
    display: none;
}

.btn {
    color: #abdfff;
    text-shadow: 0px 5px 20px #abdfff;
    font-weight: 600;
    background-color: #0e202b;
    display: block;
    padding: 10px;
    width: 80%;
    min-width: 180px;
    margin: 20px auto;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #0e202b;
}